@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

html,
body {
    overflow: hidden;
}
/* 
.logo {
  box-shadow: 0 5px 0 rgba(163, 10, 10, 0.5);
  }
  */
.logo-pressed {
    margin-top: 5px;
    margin-bottom: -5px;
    box-shadow: 0;
}
